/* *{
    color: #fff;
}
.main-container{
    height: 100vh;
    background-color: rgb(34, 33, 33);
}
.shadow-box{
    box-shadow:  1px 1px 3px 2px rgb(108, 112, 113), -1px -1px 3px 2px rgb(108, 119, 122);
} */